@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    background-color: #fdfdfd;
    color: #0f141e;

    font-size: 16px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.content {
    margin: 100px;
}

@media (max-width: 700px) {
    .content {
        margin: 10px;
    }
}

.mainTitle {
    text-align: center;
    letter-spacing: -1.5px;
}

a {
    color: 0f141e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin-bottom: 50px;
}

a:visited {
    color: dimgray;
}

a:active {
    color: rgb(255, 219, 77);
}

.photo {
    display: table;
    margin: 0 auto;
    width: 400px;
    border-radius: 16px;
    box-shadow: 4px 0px 50px gray;
    margin-bottom: 50px;
}

.info {
    color: #0f141e;
    font-style: normal;
    /* font-weight: 500; */
    text-decoration: double;
    /* letter-spacing: 0.1px; */
}

li {
    list-style: square;
}

.form-group {
    margin-bottom: 16px;
}

.form-group input, textarea {
    margin-left: 10px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    outline: none;
    font-family: inherit;
    border-bottom: 1px solid #ccc;
}

.message-textarea {
    margin-top: 16px;
}

.form {
    padding: 60px;
    border-radius: 16px;
    box-shadow: 0px 0px 50px gray;
}

.submit {
    display: table;
    margin: 0 auto;
    margin-top: 60px;
    width: 200px;
    height: 40px;
    cursor: pointer;

    font-family:'Montserrat', sans-serif;
    font-weight: bold;

    font-size: 16px;
    border-radius: 8px;
    background-color: rgb(255, 219, 77);
    border:0px solid silver;
}

.row {
    display: flex;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.submit:hover {
    opacity: 0.9;
}